<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-15.15thread] %-5level %-30.30class.%-12.-12method\(%3line\): %msg%n</pattern>
<!-- log4j.appender.stdout.layout.ConversionPattern=%d{ABSOLUTE} %5p %40.40c:%4L - %m%n -->
		</encoder>
	</appender>
	<timestamp key="timestamp" datePattern="yyyy-MM-dd-HH-mm-ss" />

	<logger name="com.clouck">
		<level value="TRACE" />
	</logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework.data.document.mongodb">
        <level value="DEBUG"/>
    </logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
