#error-body {
    background-color: #daecee;
}

#error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -303px;
    margin-left: -303px;
}

body {
    font-size: 13px;
}

#resources li {
    line-height: 25px;
}

.id-filter {
    display: inline;
    font-size: small;
    font-weight:bold;
}